<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <!--Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
  <nav class="sidebar close">
    <header>
      <div class="nav-image-text">
        <span class="nav-image">
          <img src="img/logo.png" alt="">
        </span>

        <div class="nav-text logo-text">
          <span class="logo-name">ADPT</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="nav-menu-bar">
      <div class="-nav-menu">
        <ul class="nav-menu-links">
          <li class="nav-link">
            <a href="#">
              <i class='bx bx-home-alt icon'></i>
              <span class="nav-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-line-chart icon'></i>
              <span class="nav-text">Progress</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-dumbbell icon' ></i>
              <span class="nav-text">Work Out Plan</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-bowl-rice icon'></i>
              <span class="nav-text">Diet Plan</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-game icon'></i>
              <span class="nav-text">Challenges</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-coin-stack icon'></i>
              <span class="nav-text">Rewards</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-group icon'></i>
              <span class="nav-text">Friends</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-cog icon'></i>
              <span class="nav-text">Settings</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="nav-bottom-content">
        <li class="">
          <a href="/logout">
            <i class='bx bx-log-out icon'></i>
            <span class="nav-text">Logout</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text nav-text">Dark mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>

      </div>
    </div>
  </nav>

  <section class="home">
  </section>
  <script src="js/script.js"></script>
</body>